<template>
    <div>
        <div class="text-center">
            <v-dialog
                v-model="dialog"
                hide-overlay
                persistent
                width="300"
            >
            <v-card
                color="primary"
                dark
            >
                <v-card-text>
                    Please stand by
                <v-progress-linear
                    indeterminate
                    color="white"
                    class="mb-0"
                ></v-progress-linear>
                </v-card-text>
            </v-card>
            </v-dialog>
        </div>
        <form
         @submit.prevent="submit"
         >
        <v-text-field
        v-model="user"
        :error-messages="userErrors"
        :counter="50"
        label="User"
        required
        @input="$v.user.$touch()"
        @blur="$v.user.$touch()"
        ></v-text-field>
        <v-text-field
        v-model="password"
        :error-messages="passwordErrors"
        :counter="15"
        label="Password"
        type="password"
        required
        @input="$v.password.$touch()"
        @blur="$v.password.$touch()"
        ></v-text-field>
        <v-text-field
        v-model="firstName"
        :error-messages="nameErrors"
        :counter="50"
        label="First Name"
        required
        @input="$v.firstName.$touch()"
        @blur="$v.firstName.$touch()"
        ></v-text-field>
        <v-text-field
        v-model="lastName"
        :error-messages="lastNameErrors"
        :counter="50"
        label="Last Name"
        required
        @input="$v.lastName.$touch()"
        @blur="$v.lastName.$touch()"
        ></v-text-field>
        <v-text-field
        v-model="email"
        :error-messages="emailErrors"
        label="E-mail"
        type="email"
        required
        @input="$v.email.$touch()"
        @blur="$v.email.$touch()"
        ></v-text-field>
        <v-btn
        class="mr-4"
        type="submit"
        >
        submit
        </v-btn>
        <v-btn @click="clear">
        clear
        </v-btn>
        </form>
    </div>
</template>

<style>
    form {
        margin: auto;
        width: 30rem;
        margin-top: 5rem;
    }

</style>

<script>
    import { validationMixin } from 'vuelidate'
    import { required, maxLength, email } from 'vuelidate/lib/validators'

    export default {
    name: "Form-card",
    mixins: [validationMixin],
    validations: {
        user: { required, maxLength: maxLength(50) },
        password: { required, maxLength: maxLength(15) },
        firstName: { required, maxLength: maxLength(50) },
        lastName: { required, maxLength: maxLength(50) },
        email: { required, email },
    },
    computed: {
        nameErrors() {
            const errors = [];
            if (!this.$v.firstName.$dirty)
                return errors;
            !this.$v.firstName.maxLength && errors.push("Name must be at most 50 characters long");
            !this.$v.firstName.required && errors.push("Name is required.");
            return errors;
        },
        lastNameErrors() {
            const errors = [];
            if (!this.$v.lastName.$dirty)
                return errors;
            !this.$v.lastName.maxLength && errors.push("Last name must be at most 50 characters long");
            !this.$v.lastName.required && errors.push("Last name is required.");
            return errors;
        },
        userErrors() {
            const errors = [];
            if (!this.$v.user.$dirty)
                return errors;
            !this.$v.user.maxLength && errors.push("Last name must be at most 50 characters long");
            !this.$v.user.required && errors.push("Last name is required.");
            return errors;
        },
        passwordErrors() {
            const errors = [];
            if (!this.$v.password.$dirty)
                return errors;
            !this.$v.password.maxLength && errors.push("Last name must be at most 15 characters long");
            !this.$v.password.required && errors.push("Last name is required.");
            return errors;
        },
        emailErrors() {
            const errors = [];
            if (!this.$v.email.$dirty)
                return errors;
            !this.$v.email.email && errors.push("Must be valid e-mail");
            !this.$v.email.required && errors.push("E-mail is required");
            return errors;
        },
    },
    data: () => ({
        user: "User 3",
        password: "123456",
        firstName: "user 3",
        lastName: "test",
        email: "user3@hotmail.com",
        dialog: false,
    }),
    methods: {
        async submit() {
            this.dialog = true;
            const { user, password, firstName, lastName, email } = this;
            console.log(user, password, firstName, lastName, email);
            const url = `${process.env.VUE_APP_BACKEND_URL}users/`;
            const config = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    user,
                    password,
                    firstName,
                    lastName,
                    email,
                })
            };
            const res = await fetch(url, config);
            const data = await res.json();
            //LE AGREGAMOS EL EFECTO QUE ALGO CHIDO ESTA PASANDO ;P
            setTimeout(() => {
                this.clear();
                this.dialog = false;
                this.$swal(data.message);
            }, 5000);
            return;
        },
        clear() {
            this.$v.$reset();
            this.user = "";
            this.password = "";
            this.email = "";
            this.firstName = "";
            this.lastName = "";
        },
    },
}
</script>