<template>
  <v-app>
    <v-app-bar
      app
      dark
    >
      <v-btn
        target="_blank"
        text
      >
        <span class="mr-2">User Form</span>
      </v-btn>
    </v-app-bar>
    <v-main>
      <Form/>
    </v-main>
  </v-app>
</template>

<script>
import Form from './components/Form.vue';

export default {
  name: 'App',

  components: {
    Form
},

  data: () => ({
    //
  }),
};
</script>
